<template>
    <div class="sms-container">
        <el-form ref="smsLoginForm" :model="smsFormData" status-icon :rules="smsRules" label-width="120px"
            class="demo-smsFormData">  
            <!-- 输入手机号 -->
            <el-form-item label="手机号" prop="phone" class="captcha">
                <el-input v-model="smsFormData.phone" maxlength="11"/>
                <span>点击发送</span>
            </el-form-item>

            <!-- 输入验证码 -->
            <el-form-item label="验证码" 
            prop="code">
                <el-input v-model="smsFormData.code" maxlength="5" type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm(smsLoginForm)">登入</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script setup>


//业务:

//1.修改表单注入的数据以及prop

//2.给smsLogin这个组件添加自己的表单form校验规则

import { reactive, ref } from 'vue'
//引入校验函数
import { smsRules, useSubmitForm } from "../../composition/login/validate"


//表单校验成功之后,回调的方法
let validateSuccess = () => {
    console.log('校验成功')
}
//表单校验失败,回调的方法
let validateFailed = () => {
    console.log('校验失败')
}
//使用submitForm
let submitForm = useSubmitForm(validateSuccess, validateFailed)
const smsLoginForm = ref()
//注入到表单的数据
const smsFormData = reactive({
    phone: "",
    code: ''
})
</script>
<style scoped lang="scss">
.captcha {
    display: flex;

    :deep(.el-input) {
        width: 170px;
        border-right: none;

        .el-input__wrapper {
            border-radius: 5px 0 0 5px;
            box-shadow: none;
        }
    }

    span {
        height: 42px;
        background-color: #fff;
        display: inline-block;
        border-left: none;
        border-radius: 0 5px 5px 0;
        width: 32%;
        color:#666;
        font-size:14px;
        font-weight:900;
        line-height: 42px;
        cursor:pointer;
        text-decoration:underline;
    }
}

.el-form {
    padding-right: 50px;
    margin-left: -20px;

    :deep(.el-button--primary) {
        height: 40px;
        width: 250px;
        background: linear-gradient(90deg, #1596fb, #002dff)
    }
}

:deep(.el-form-item__label) {
    color: #fff;
    line-height: 40px
}

:deep(.el-input__inner) {
    height: 40px;
}
</style>